doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/public/css/fonts.css")
    link(rel="stylesheet" href="/public/css/style.css")

  body
    if message
      div(class=`message message-${messageType}`)
        = message
        button.message-close(onclick="this.parentElement.remove()") ×
    .header
      h1=title
      //- if token
        button.logout-btn

    // Форма добавления задачи — только для авторизованных
    if token
      .add-task-group
        form#task-form
          input(type="text" name="title" placeholder=". . ." required)
          button(type="submit") Добавить
    else
      p.unauthorized
        | Чтобы добавлять и просматривать задачи, 
        a(href="/login") войдите в аккаунт
        |  или 
        a(href="/register") зарегистрируйтесь

    // Список задач — только для авторизованных
    if token
      ul.task-list#task-list
    else
      p Для просмотра задач необходимо войти в систему

    script(type="module" src="/public/scripts/add-task.js")